.books-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,15.5rem);
    gap: 10px;
}

.book-card {
    border-radius: 10px;
    font-size: 0.4rem;
}

.book-card img {
    // width: 100%;
    height: auto;
}

.book-card ul {
    padding: 1.5rem;
    box-sizing: border-box;
}