.toggle-switch-container {
    display:flex;
    flex-direction: row-reverse;
}

.switch-btn {
    background-color: rgb(158, 1, 1);

    .thumb {
        display:flex;
        align-self: center;
        width: 15px;
        height: 15px;
        border: 2px solid black;
        border-radius: 50%;
        background: white;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }

    // dark theme
    &.dark
    {
        background-color: rgb(73, 185, 61);
        border: 2px solid white;
    }
}